{% extends "../template/template.html" %} {% block content %}

<h4>Data Periksa</h4>

<div class="mb-3">
  <button type="button" class="btn btn-primary" onclick="addPeriksa()">
    Tambah Periksa
  </button>
</div>
<div class="card">
  <div class="card-body">
    <table id="table-periksa">
      <thead>
        <tr>
          <th>No</th>
          <th>Dokter</th>
          <th>Pasien</th>
          <th>Obat</th>
          <th>Tgl Periksa</th>
          <th>Catatan</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{% endblock %} {% block js %}
<script>
  let optionDokter = "";
  let optionPasien = "";
  $(document).ready(function () {
    $("#table-periksa").DataTable({
      processing: true,
      serverSide: true,
      paging: false,
      ajax: {
        url: "/periksa/get",
        type: "GET",
        dataSrc: function (json) {
          console.log(json);

          // Check if json.data is null, return empty array if true
          return json.data ? json.data : [];
        },
      },
      columns: [
        { data: "id" },
        { data: "nm_dokter" },
        { data: "nm_pasien" },
        { data: "obat" },
        { data: "tgl_periksa" },
        { data: "catatan" },
        {
          data: null,
          render: function (data, type, row) {
            let rowData = JSON.stringify(row).replace(/"/g, "&quot;"); // Encode quotes for HTML
            return `
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning" onclick="editPeriksa('${rowData}')">Edit</button>
                <button type="button" class="btn btn-danger" onclick="deletePeriksa('${rowData}')">Delete</button>
            </div>
            `;
          },
        },
      ],
    });

    //get dokter
    fetch("/dokter/get", {
      method: "GET",
    })
      .then((response) => response.json())
      .then((result) => {
        result.data.forEach((dokter) => {
          optionDokter += `<option value="${dokter.id}">${dokter.nama}</option>`;
        });
      });

    //get pasien
    fetch("/pasien/get", {
      method: "GET",
    })
      .then((response) => response.json())
      .then((result) => {
        result.data.forEach((pasien) => {
          optionPasien += `<option value="${pasien.id}">${pasien.nama}</option>`;
        });
      });
  });

  function addPeriksa() {
    const modal = `
         <div class="modal fade" id="modalAddPeriksa" tabindex="-1" aria-labelledby="modalAddPeriksaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAddPeriksaLabel">Tambah Periksa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddPeriksa" method="POST">
                        <div class="mb-3">
                            <label for="pasien" class="form-label">Nama Pasien</label>
                            <select class="form-select" id="pasien" name="pasien" required>
                                <option value="">Pilih Pasien</option>
                                ${optionPasien}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="dokter" class="form-label">Nama Dokter</label>
                            <select class="form-select" id="dokter" name="dokter" required>
                                <option value="">Pilih Dokter</option>
                                ${optionDokter}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="tgl_periksa" class="form-label">Obat</label>
                            <input type="datetime-local" class="form-control" id="tgl_periksa" name="tgl_periksa" required>
                        </div>
                        <div class="mb-3">
                            <label for="catatan" class="form-label">Catatan</label>
                            <input type="text" class="form-control" id="catatan" name="catatan" required>
                        </div>
                        <div class="mb-3">
                            <label for="obat" class="form-label">Obat</label>
                            <input type="text" class="form-control" id="obat" name="obat" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            </div>`;
    $("body").append(modal);
    $("#modalAddPeriksa")
      .modal("show")
      .ready(function () {
        $("#formAddPeriksa").submit(async function (e) {
          e.preventDefault();
          const formData = new FormData(this);
          const response = await fetch("/periksa/create", {
            method: "POST",
            body: formData,
          });
          const result = await response.json();
          if (result.status === 200) {
            alert(result.message);
            $("#modalAddPeriksa").modal("hide");
            $("#table-periksa").DataTable().ajax.reload();
          } else {
            alert(result.message);
          }
        });
      })
      .on("hidden.bs.modal", function () {
        $(this).remove();
      });
  }
  function editPeriksa(data) {
    console.log(data);

    data = JSON.parse(data);

    const modal = `
         <div class="modal fade" id="modalEditPeriksa" tabindex="-1" aria-labelledby="modalEditPeriksaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditPeriksaLabel">Tambah Periksa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formEditPeriksa" method="POST">
                        <input type="hidden" name="id" value="${data.id}">
                        <div class="mb-3">
                            <label for="pasien" class="form-label">Nama Pasien</label>
                            <select class="form-select" id="pasien" name="pasien" required>
                                <option value="">Pilih Pasien</option>
                                ${optionPasien}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="dokter" class="form-label">Nama Dokter</label>
                            <select class="form-select" id="dokter" name="dokter" required>
                                <option value="">Pilih Dokter</option>
                                ${optionDokter}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="tgl_periksa" class="form-label">Obat</label>
                            <input type="datetime-local" class="form-control" id="tgl_periksa" name="tgl_periksa" value="${data.tgl_periksa}" required>
                        </div>
                        <div class="mb-3">
                            <label for="catatan" class="form-label">Catatan</label>
                            <input type="text" class="form-control" id="catatan" name="catatan" value="${data.catatan}" required>
                        </div>
                        <div class="mb-3">
                            <label for="obat" class="form-label">Obat</label>
                            <input type="text" class="form-control" id="obat" name="obat" value="${data.obat}" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            </div>`;
    $("body").append(modal);
    $("#modalEditPeriksa")
      .modal("show")
      .ready(function () {
        //set selected option by label = data.nm_dokter
        $("#dokter option").each(function () {
          if ($(this).text() === data.nm_dokter) {
            $(this).attr("selected", "selected");
          }
        });
        //set selected option by label = data.nm_pasien
        $("#pasien option").each(function () {
          if ($(this).text() === data.nm_pasien) {
            $(this).attr("selected", "selected");
          }
        });

        $("#formEditPeriksa").submit(async function (e) {
          e.preventDefault();
          const formData = new FormData(this);
          const response = await fetch("/periksa/update", {
            method: "POST",
            body: formData,
          });
          const result = await response.json();
          if (result.status === 200) {
            alert(result.message);
            $("#modalEditPeriksa").modal("hide");
            $("#table-periksa").DataTable().ajax.reload();
          } else {
            alert(result.message);
          }
        });
      })
      .on("hidden.bs.modal", function () {
        $(this).remove();
      });
  }
  function deletePeriksa(data) {
    data = JSON.parse(data);
    let id = data.id;

    formData = new FormData();
    formData.append("id", id);

    if (confirm("Apakah anda yakin ingin menghapus data ini?")) {
      fetch(`/periksa/delete`, {
        method: "POST",
        body: formData,
      })
        .then((response) => response.json())
        .then((result) => {
          if (result.status === 200) {
            alert(result.message);
            $("#table-periksa").DataTable().ajax.reload();
          } else {
            alert(result.message);
          }
        });
    }
  }
</script>
{% endblock %}
